<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelAddIn.ConfigurationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExcelAddIn.ConfigurationSettings>
            <setting name="ApiBaseUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="APISecret" serializeAs="String">
                <value />
            </setting>
            <setting name="PageSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="OutputDateTimeFormat" serializeAs="String">
                <value>mm-d-yy h:mm:ss AM/PM</value>
            </setting>
            <setting name="InputDateTimeFormat" serializeAs="String">
                <value>dddd, dd MMMM yyyy hh:mm:ss tt</value>
            </setting>
            <setting name="IsApiReadyAndValidated" serializeAs="String">
                <value>False</value>
            </setting>
        </ExcelAddIn.ConfigurationSettings>
    </userSettings>
</configuration>